<<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	</head>
	<body>
        <div class="container">
            <h1 style="text-align:center;">Лабораторная работа №2</h1>

            <h2>Тип</h2>
            <a href="/type"><h4>Создать новый тип</h4></a>

            <h2>Название оборудования</h2>
                <h4>Создать новое название</h4>
            <form action="/name/" method=post>
                Название <input type=text name="name" size=15 height=100% >
                Id Типа <select name="type_id" class="selectpicker">
                    {% for type in type %}
                <option value="{{type.id}}">{{type.type}}</option>

                    {% endfor %}
                </select>
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                  <th>Название</th>
                    <th>Тип</th>
                </tr>
                </thead>
                <tbody>
                    {% for names in name_equip %}
                        <tr>
                            <th scope="row">{{names.id}}</th>
                            <td>{{names.name}}</td>
                            <td>{{names.type.type}}</td>
                            <td><form action='/delete_name/' method=post>
                                 {% csrf_token %}
                                  <button name="delete_name" value="{{name.id}}">Удалить</button>
                                 </form></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Список аудиторий</h2>
                <h4>Создать аудиторию</h4>
            <form action="/auditories/" method=post>
                Номер аудитории <input type=text name="number" size=15 height=100% >
                Корпус <input type=text name="build" size=15 height=100% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                  <th>Номер аудитории</th>
                    <th>Корпус</th>
                </tr>
                </thead>
                <tbody>
                    {% for audit in auditors %}
                        <tr>
                            <th scope="row">{{audit.id}}</th>
                            <td>{{audit.number}}</td>
                            <td>{{audit.build}}</td>
                            <td><form action='/delete_audit/' method=post>
                                 {% csrf_token %}
                                  <button name="delete_audit" value="{{audit.id}}">Удалить</button>
                                 </form></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Список оборудования</h2>
                <h4>Создать новое оборудование</h4>
            <form action="/equip/" method=post>
                Названия <select name="name_id" class="selectpicker">
                    {% for type in name_equip %}
                <option value="{{type.id}}">{{type.name}}</option>

                    {% endfor %}
                </select>

                <!--<div class="bfh-datepicker" data-format="y-m-d">-->
                Дата покупки(в формате: "2015, 5, 30") <input type=text name="date_buy" size=15 height=80% >
                    <!--</div>-->

                Характеристики <input type=text name="characters" size=15 height=80% > <br>
                Информация состояния <input type=text name="condition_inf" size=15 height=80% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                  <th>Название</th>
                    <th>Дата покупки</th>
                    <th>Характеристики</th>
                    <th>Информация состояния</th>
                </tr>
                </thead>
                <tbody>
                    {% for eq in equip %}
                        <tr>
                            <th scope="row">{{eq.id}}</th>
                            <td>{{eq.name.name}}</td>
                            <td>{{eq.date_buy}}</td>
                            <td>{{eq.characters}}</td>
                            <td>{{eq.condition_inf}}</td>
                             <td><form action='/delete_eq/' method=post>
                                 {% csrf_token %}
                                  <button name="delete_eq" value="{{eq.id}}">Удалить</button>
                                 </form></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Расположение</h2>
                <form action="/location/" method=post>
                Оборудование <select name="id_equip" class="selectpicker">
                    {% for type in equip %}
                <option value="{{type.id}}">{{type.name.name}} {{type.date_buy}}</option>

                    {% endfor %}
                </select>

                Аудитории <select name="id_auditor" class="selectpicker">
                    {% for type in auditors %}
                <option value="{{type.id}}">{{type.number}} {{type.build}}</option>

                    {% endfor %}
                </select>

                Дата установки (в формате: "2015, 5, 30") <input type=text name="date_loc" size=15 height=100% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                  <th>Обторудование</th>
                    <th>Дата покупки</th>
                    <th>Аудитория</th>
                    <th>Дата расположения</th>
                </tr>
                </thead>
                <tbody>
                    {% for loc in location %}
                        <tr>
                            <th scope="row">{{loc.id}}</th>
                            <td>{{loc.id_equip.name.name}}</td>
                            <td>{{loc.id_equip.date_buy}}</td>
                            <td>{{loc.id_auditor.number}} {{loc.id_auditor.build}}</td>
                            <td>{{loc.date_loc}}</td>
                            <td><form action='/delete_loc/' method=post>
                                 {% csrf_token %}
                                  <button name="delete_loc" value="{{loc.id}}">Удалить</button>
                                 </form></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



        </div>
	</body>
</html>