<<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
        <div class="container">
            <h1 style="text-align:center;">Лабораторная работа №2</h1>

            <h2>Type</h2>
            <h4>Create_new_type</h4>
            <form action='/type/' method=post>
            Type <input type=text name="type" size=15 height=100% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                  <th>type</th>
                </tr>
                </thead>
                <tbody>
                    {% for types in type %}
                        <tr>
                            <th scope="row">{{types.id}}</th>
                            <td>{{types.type}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Name_equip</h2>
                <h4>Create_new_Name_equip</h4>
            <form action="/name/" method=post>
                Name <input type=text name="name" size=15 height=100% >
                Type_id <input type=text name="type_id" size=15 height=100% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                  <th>name</th>
                    <th>type</th>
                </tr>
                </thead>
                <tbody>
                    {% for names in name_equip %}
                        <tr>
                            <th scope="row">{{names.id}}</th>
                            <td>{{names.name}}</td>
                            <td>{{names.type.type}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Auditories</h2>
                <h4>Create_new_Auditories</h4>
            <form action="/auditories/" method=post>
                Auditories <input type=text name="number" size=15 height=100% >
                Build <input type=text name="build" size=15 height=100% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                  <th>Auditories</th>
                    <th>Build</th>
                </tr>
                </thead>
                <tbody>
                    {% for audit in auditors %}
                        <tr>
                            <th scope="row">{{audit.id}}</th>
                            <td>{{audit.number}}</td>
                            <td>{{audit.build}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Equip</h2>
                <h4>Create_new_Equip</h4>
            <form action="/equip/" method=post>
                Name_id <input type=text name="Name_id" size=15 height=100% >
                Date_buy(2015, 5, 30) <input type=text name="Date_buy" size=15 height=100% >
                Characters <input type=text name="Characters" size=15 height=100% >
                Condition_information <input type=text name="Condition_inf" size=15 height=100% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                  <th>Name</th>
                    <th>Date_buy</th>
                    <th>Characters</th>
                    <th>Condition_informations</th>
                </tr>
                </thead>
                <tbody>
                    {% for eq in equip %}
                        <tr>
                            <th scope="row">{{eq.id}}</th>
                            <td>{{eq.name.name}}</td>
                            <td>{{eq.date_buy}}</td>
                            <td>{{eq.characters}}</td>
                            <td>{{eq.condition_inf}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Location</h2>
                <form action="/location/" method=post>
                Id_equip <input type=text name="Id_equip" size=15 height=100% >
                Id_auditories <input type=text name="Id_auditor" size=15 height=100% >
                Date_location(2015, 5, 30) <input type=text name="Date_loc" size=15 height=100% >
                {% csrf_token %}

                <input type="submit"/>
                </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                  <th>Id_equip</th>
                    <th>Id_auditors</th>
                    <th>Date_Location</th>
                </tr>
                </thead>
                <tbody>
                    {% for loc in location %}
                        <tr>
                            <th scope="row">{{loc.id}}</th>
                            <td>{{loc.id_equip}}</td>
                            <td>{{loc.id_auditor}}</td>
                            <td>{{loc.date_loc}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



        </div>
	</body>
</html>